{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Map</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <style>
    #map {
      height: 100%;
      width: 100%;
      position: absolute;
    }
    #sidebar {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 200px;
      background-color: white;
      padding: 15px;
      border-radius: 10px;
      z-index: 1000;
    }
  </style>
</head>
<body>
  <div id="map"></div>
  <div id="sidebar">
    <form id="boundsForm" action="{% url 'map' %}" method="get">
      {% csrf_token %}
      <label for="minLat">Latitude min:</label>
      <input type="number" id="minLat" name="minLat" step="0.000001">
      <br>
      <label for="minLng">Longitude min:</label>
      <input type="number" id="minLng" name="minLng" step="0.000001">
      <br>
      <label for="maxLat">Latitude max:</label>
      <input type="number" id="maxLat" name="maxLat" step="0.000001">
      <br>
      <label for="maxLng">Longitude max:</label>
      <input type="number" id="maxLng" name="maxLng" step="0.000001">
      <br>
      <button type="submit">Appliquer les limites</button>
    </form>
  </div>

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="{% static 'map.js' %}"></script>
</body>
</html>
